amqp==5.3.1
asgiref==3.12.1
attrs==26.1.0
beautifulsoup4==4.12.3
billiard==4.3.0
celery==5.6.3
certifi==2023.11.17
cffi==2.1.1
chardet==5.2.0
charset-normalizer==3.5.1
click==8.1.6
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.4.0
colorama==0.4.6
cryptography==41.0.7
distro==1.9.0
Django==6.1.1
django-cors-headers==4.9.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
html5lib==1.1
httplib2==0.20.4
idna==3.6
inflection==0.5.1
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
kombu==5.6.2
lxml==5.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mutagen==1.46.0
netaddr==0.8.0
netifaces==0.11.0
numpy==1.26.4
oauthlib==3.2.2
packaging==24.0
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
prompt_toolkit==3.0.53
psutil==5.9.8
psycopg==3.3.5
psycopg2-binary==2.9.13
ptyprocess==0.7.0
pycparser==3.0
pycryptodomex==3.20.0
Pygments==2.17.2
PyJWT==2.7.0
pyparsing==3.1.1
pyrsistent==0.20.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
six==1.16.0
soupsieve==2.5
sqlparse==0.6.0
typing_extensions==4.10.0
tzdata==2026.4
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.0.7
vine==5.1.0
wcwidth==0.8.3
webencodings==0.5.1
websockets==10.4
